include ./mixins/author_list
include ./mixins/head
include ./mixins/navigation
include ./mixins/slider
include ./mixins/top-books-slide
include ./mixins/news
include ./mixins/features
include ./mixins/footer
include ./mixins/bottom-loader
include ./mixins/create-book

+head
.gtco-loader
#page
	+navigation
	+create-book
	+footer
+bottom-loader