include ./mixins/head
include ./mixins/navigation
include ./mixins/footer
include ./mixins/bottom-loader

+head
.gtco-loader
#page
	+navigation(logged_in_user && logged_in_user.is_admin, 'admin')
	.gtco-section
		.gtco-container
			.row
				.col-md-12
					each diagram in diagrams
						h2=diagram.title
						img(src=`${diagram.url}`)
	+footer
+bottom-loader