include ../mixins/author_list
include ../mixins/head
include ../mixins/navigation
include ../mixins/slider
include ../mixins/top-books-slide
include ../mixins/features
include ../mixins/footer
include ../mixins/bottom-loader
include ../mixins/create-book
include ./mixins/list-books

+head
.gtco-loader
#page
	+navigation(logged_in_user && logged_in_user.is_admin, 'book')
	+list-books(books, users_favourites)
	+footer
+bottom-loader