//TODO:Finish Comment Section
mixin add-comment(book)
    .gtco-section
        .gtco-container
            .row
                .col-lg-11.col-centered
                    div.item
                        form(action="/api/comment" method="POST")
                            .form-group
                                input(type="hidden" name="book_id" class="form-control" value=book._id )
                                input(type="text" name="comment" class="form-control" placeholder="Add a comment..." )
                            .form-group
                                input(type="submit" class="btn btn btn-special" value="Add Comment")
                        
                        