mixin image(picture,style)
    if picture != null
        img.img-responsive(src=`/images/${picture}`, style=`${style}`,alt=`${picture}`)
    else
        img.img-responsive(src='/images/no-photo.svg',style=`${style}`, alt='no image')