NPM Packages Used:
    - Express
    - BodyParser
    - Lodash
    - Morgan (https://github.com/expressjs/morgan)
    - Path (https://node.readthedocs.io/en/latest/api/path/)
    - fs (https://nodejs.org/api/fs.html)
    - rfs (https://www.npmjs.com/package/file-stream-rotator)
    - pug (https://github.com/pugjs/pug) : Front End Templating
    - node-restful (https://github.com/baugarten/node-restful)
    - plantuml (http://plantuml.com/, https://github.com/qjebbs/vscode-plantuml)
    - tape : Unit and Integration Testing (https://github.com/substack/tape)
    - MongoDB Online: (https://cloud.mongodb.com/v2/5bee8d39d5ec13e5c881617f#clusters/detail/BookFace)
Credits
    - Template from (https://www.free-css.com/free-css-templates/page228/beryllium)
Minimum Requirements:
    - Node v10.12.0 or Higher
TODO:
    Add JWT Web Tokens to create user requests
    Add Create User flow to start page of application