include ../mixins/author_list
include ../mixins/head
include ../mixins/navigation
include ../mixins/slider
include ../mixins/top-books-slide
include ../mixins/latest-comments
include ../mixins/features
include ../mixins/footer
include ../mixins/bottom-loader
include ../mixins/create-user

+head
.gtco-loader
#page
    +navigation(logged_in_user && logged_in_user.is_admin, 'user')
    .gtco-section
        .gtco-container
            .row.gtco-heading
                .col-lg-11.col-centered
                    +create-user(user,test)

    +footer
+bottom-loader