mixin bottom-loader
    .gototop.js-top
        a.js-gotop(href='#')
            i.icon-arrow-up
    // jQuery
    script(src='/js/jquery.min.js')
    // jQuery Easing
    script(src='/js/jquery.easing.1.3.js')
    // Bootstrap
    script(src='/js/bootstrap.min.js')
    // Waypoints
    script(src='/js/jquery.waypoints.min.js')
    // Carousel
    script(src='/js/owl.carousel.min.js')
    // Main
    script(src='/js/main.js')
    script(src='/js/user.js')