include ./create-author
include ../books/mixins/image

mixin edit-book
    .gtco-section
        .gtco-container
            .row.gtco-heading
                .col-lg-11.col-centered
                    h2 Edit Book
                    if error
                        h3(class="error")= error
            .row
                .col-lg-11.col-centered
                    .form-group
                        label(for='title') Book Title:
                        input(type="text" name="title" id="title" class="form-control" placeholder="Book Title" value=book.title)
                    .form-group
                        label(for='picture') Picture:
                        +image(book.picture)
                        input(type="file" name="picture" id="picture" class="form-control" placeholder="Book Picture")
                    .form-group
                        label(for='pages') Number of Pages:
                        input(type="number" name="pages" id="pages" class="form-control" placeholder="Number of Pages" value=book.pages)
                    .form-group
                        input(type="button" class="btn btn btn-info" onclick="addAuthors();" value="Add Authors")
                    .form-group.authors
                        each author,index in book.authors
                            +create-author(author,index)
                    .form-group
                        input(type="submit" class="btn btn btn-special" value="Update Book" onclick=`editBook('${book._id}')`)
    head
        script(src='/js/author.js')
        script(src='/js/book_client.js')
