mixin features
	.gtco-section.gto-features
		.gtco-container
			.row
				.col-md-4
					.feature-left
						i.ti-zip.icon
						.copy
							h3 Architect
							p Lorem ipsum dolor sit ameteista, consectetur adipiscing is not elitistaris.
							p
								a.gtco-more(href='#') Learn more
				.col-md-4
					.feature-left
						i.ti-hummer.icon
						.copy
							h3 Planning
							p Lorem ipsum dolor sit ameteista, consectetur adipiscing is not elitistaris.
							p
								a.gtco-more(href='#') Learn more
				.col-md-4
					.feature-left
						i.ti-plug.icon
						.copy
							h3 Parks &amp; Events
							p Lorem ipsum dolor sit ameteista, consectetur adipiscing is not elitistaris.
							p
								a.gtco-more(href='#') Learn more