mixin footer
	footer#gtco-footer.gtco-section(role='contentinfo')
		.gtco-container
			.row.row-pb-md
				.col-md-4.gtco-widget.gtco-footer-paragraph
					h3 BookFace
		.gtco-copyright
			.gtco-container
				.row
					.col-md-6.text-left
						p
							small &copy; Oneal Anguin 
	// END footer