mixin footer
	footer#gtco-footer.gtco-section(role='contentinfo')
		.gtco-container
			.row.row-pb-md
				.col-md-4.gtco-widget.gtco-footer-paragraph
					h3 Beryllium
					p
				.col-md-4
					.row
						.col-md-6.gtco-footer-link
							h3 Links
							ul.gtco-list-link
								li
									a(href='#') Home
								li
									a(href='#') Features
								li
									a(href='#') Products
								li
									a(href='#') Testimonial
								li
									a(href='#') Contact
						.col-md-6.gtco-footer-link
							h3 Work
							ul.gtco-list-link
								li
									a(href='#') New York Arena
								li
									a(href='#') Eagle Park
								li
									a(href='#') Nationals Park
								li
									a(href='#') Manila Park
				.col-md-4.gtco-footer-subscribe
					form.form-inline
						.form-group
							label.sr-only(for='exampleInputEmail3') Email address
							input.form-control(type='email', id='', placeholder='Email')
						button.btn.btn-primary(type='submit') Send
		.gtco-copyright
			.gtco-container
				.row
					.col-md-6.text-left
						p
							small &copy; 2016 Free HTML5. All Rights Reserved. 
					.col-md-6.text-right
						p
							small
								a(href='http://gettemplates.co/', target='_blank') GetTemplates.co
								a(href='http://pixeden.com/', target='_blank') Pixeden
								a(href='http://unsplash.com', target='_blank') Unsplash
	// END footer