mixin head
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title BF - BookFace
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='Book Face')
        meta(name='keywords', content='Books, Auhtors, Titles')
        meta(name='author', content='BookFace')
        // Facebook and Twitter integration
        meta(property='og:title', content='')
        meta(property='og:image', content='')
        meta(property='og:url', content='')
        meta(property='og:site_name', content='')
        meta(property='og:description', content='')
        meta(name='twitter:title', content='')
        meta(name='twitter:image', content='')
        meta(name='twitter:url', content='')
        meta(name='twitter:card', content='')
        // Animate.css
        link(rel='stylesheet', href='/css/animate.css')
        // Icomoon Icon Fonts
        link(rel='stylesheet', href='/css/icomoon.css')
        // Themify Icons
        link(rel='stylesheet', href='/css/themify-icons.css')
        // Bootstrap
        link(rel='stylesheet', href='/css/bootstrap.css')
        // Owl Carousel
        link(rel='stylesheet', href='/css/owl.carousel.min.css')
        link(rel='stylesheet', href='/css/owl.theme.default.min.css')
        // Theme style
        link(rel='stylesheet', href='/css/style.css')
        // Modernizr JS
        script(src='/js/modernizr-2.6.2.min.js')
        script(src="/js/jwt-decode.min.js")
        script(src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js")
        script(src='https://code.jquery.com/jquery-2.1.3.min.js')
        // FOR IE9 below
        //if lt IE 9
            script(src='js/respond.min.js')

    