mixin navigation(is_admin)
        nav.gtco-nav(role='navigation')
            .gtco-container
                .row
                    .col-sm-2.col-xs-12
                        #gtco-logo
                            a(href='/') BookFace
                    .col-xs-10.text-right.menu-1
                        ul
                            li.active
                                a(href='/') Home
                            li.has-dropdown
                                a(href='/books') Books
                                ul.dropdown
                                    li 
                                        a(href='/addbook') Add Book
                            if is_admin
                                li.has-dropdown
                                    a(href='#') Admin
                                    ul.dropdown
                                        li
                                            a(href='/profiles') Users
                                        li
                                            a(href='/comments') Comments
                                        li
                                            a(href='/books') Books
                                        li  
                                            a(href='/diagrams') Diagrams
                            li
                                a(href='/about') About
                            li.has-dropdown
                                a(href='#') User
                                ul.dropdown
                                    li
                                        a(href='/profile') User Profile
                                    li
                                        a(href='/logout') Log Out