mixin news
	.gtco-section
		.gtco-container
			.row
				.col-md-6.gtco-news
					h2 News
					ul
						li
							a(href='#')
								span.post-date September 10, 2016
								h3 Manila Bridge Re-construction
								p
						li
							a(href='#')
								span.post-date September 10, 2016
								h3 Manila Bridge Re-construction
								p
						li
							a(href='#')
								span.post-date September 10, 2016
								h3 Manila Bridge Re-construction
								p
					p
						a.btn.btn-sm.btn-special(href='#') More News
				// END News
				.col-md-5.col-md-push-1.gtco-testimonials
					h2 Testimonials
					blockquote
						p
						p.author
							cite &mdash; John Doe Dueller
					blockquote
						p
						p.author
							cite &mdash; John Doe Dueller