mixin slider
    .gtco-container
        .row
            .col-md-12
                .owl-carousel.owl-carousel-fullwidth
                    .item
                        a(href='#')
                            img(src='/images/slider_1.jpg', alt='Free Website Template by GetTemplates.co')
                            .slider-copy
                                h2 Architecture #1
                    .item
                        a(href='#')
                            img(src='/images/slider_2.jpg', alt='Free Website Template by GetTemplates.co')
                            .slider-copy
                                h2 Architecture #1
                    .item
                        a(href='#')
                            img(src='/images/slider_3.jpg', alt='Free Website Template by GetTemplates.co')
                            .slider-copy
                                h2 Architecture #1