mixin top-books-slide
	.gtco-section
		.gtco-container
			.row
				.col-md-8.col-md-offset-2.gtco-heading.text-center
					h2 Top Rated Books
			.row
				.col-md-12
					.owl-carousel.owl-carousel-carousel
						.item
							.gtco-item
								a(href='#')
									img.img-responsive(src='/images/img_1.jpg', alt='')
								h2
									a(href='#') New York Arena
								p.role New York
						.item
							.gtco-item
								a(href='#')
									img.img-responsive(src='/images/img_2.jpg', alt='')
								h2
									a(href='#') Eagle Park
								p.role London
						.item
							.gtco-item
								a(href='#')
									img.img-responsive(src='/images/img_3.jpg', alt='')
								h2
									a(href='#') Nationals Park
								p.role Paris, France
						.item
							.gtco-item
								a(href='#')
									img.img-responsive(src='/images/img_1.jpg', alt='')
								h2
									a(href='#') New York Arena
								p.role New York
						.item
							.gtco-item
								a(href='#')
									img.img-responsive(src='/images/img_2.jpg', alt='')
								h2
									a(href='#') Eagle Park
								p.role London
						.item
							.gtco-item
								a(href='#')
									img.img-responsive(src='/images/img_3.jpg', alt='')
								h2
									a(href='#') Nationals Park
								p.role Paris, France
						.item
							.gtco-item
								a(href='#')
									img.img-responsive(src='/images/img_1.jpg', alt='')
								h2
									a(href='#') New York Arena
								p.role New York
						.item
							.gtco-item
								a(href='#')
									img.img-responsive(src='/images/img_2.jpg', alt='')
								h2
									a(href='#') Eagle Park
								p.role London
						.item
							.gtco-item
								a(href='#')
									img.img-responsive(src='/images/img_3.jpg', alt='')
								h2
									a(href='#') Nationals Park
								p.role Paris, France