mixin top-books-slide(books)
	.gtco-section
		.gtco-container
			.row
				.col-md-8.col-md-offset-2.gtco-heading.text-center
					h2 Top Rated Books
			.row
				.col-md-12
					.owl-carousel.owl-carousel-carousel
						each book in books 
							.item
								.gtco-item
									a(href=`/book/${book._id}`)
										img.img-responsive(src='/images/img_1.jpg', alt='')
									h2
										span=book.title
									each author in book.authors
										div.role=`${author.last_name}, ${author.first_name}`